<h1 class="mt-4">Изменить новость</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Показать новость", @article, class: "btn btn-dark" %>
  <%= link_to "Вернуться к новостям", articles_path, class: "btn btn-dark" %>


</div>
