<%= render 'articles/header' %>

<div class="container">
  <h1 class="mt-4">Добавить новость</h1>

  <%= render "form", article: @article %>

  <br>

  <div>
    <%= link_to "Вернуться на главную", articles_path, class: "btn btn-dark" %>
  </div>
</div>